<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wing">
            <h2><span jhiTranslate="wwHackathonTeam2App.wing.detail.title">Wing</span> {{ wing.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wwHackathonTeam2App.wing.identifier">Identifier</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'wwHackathonTeam2App.WingIdentifier.' + wing.identifier }}">{{ wing.identifier }}</span>
                </dd>
                <dt><span jhiTranslate="wwHackathonTeam2App.wing.floor">Floor</span></dt>
                <dd>
                    <div *ngIf="wing.floorId">
                        <a [routerLink]="['/floor', wing.floorId, 'view']">{{ wing.floorId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wing', wing.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
