<h2>Neue Reservierung</h2>
<section class="flex-column">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>Von wann bis wann brauchen Sie einen Sitzplatz?</p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Von bis</mat-label>
        <mat-date-range-input [rangePicker]="picker" [dateFilter]="dateFilter">
          <input matStartDate [min]="today" [max]="maxDate" formControlName="startDate" placeholder="Anfang" />
          <input matEndDate formControlName="endDate" placeholder="Ende" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="form.controls.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="form.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </p>

    <p>Wo brauchen Sie einen Sitzplatz?</p>
    <p>
      <mat-form-field appearance="fill" *ngIf="buildings$ | async as buildings">
        <mat-label>Gebäude</mat-label>
        <mat-select formControlName="building" multiple>
          <mat-option *ngFor="let building of buildings" [value]="building.id">{{ 'C' + building.identifier }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <button type="submit" class="btn btn-primary">Suchen</button>
  </form>
</section>
