<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="floor">
            <h2><span jhiTranslate="wwHackathonTeam2App.floor.detail.title">Floor</span> {{ floor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wwHackathonTeam2App.floor.identifier">Identifier</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'wwHackathonTeam2App.FloorIdentifier.' + floor.identifier }}">{{ floor.identifier }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/floor', floor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
