<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-floor-heading" jhiTranslate="wwHackathonTeam2App.floor.home.createOrEditLabel">Create or edit a Floor</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wwHackathonTeam2App.floor.identifier" for="field_identifier">Identifier</label>
                    <select class="form-control" name="identifier" formControlName="identifier" id="field_identifier">
                        <option value="UG">{{ 'wwHackathonTeam2App.FloorIdentifier.UG' | translate }}</option>
                        <option value="CG">{{ 'wwHackathonTeam2App.FloorIdentifier.CG' | translate }}</option>
                        <option value="EG">{{ 'wwHackathonTeam2App.FloorIdentifier.EG' | translate }}</option>
                        <option value="OG_1">{{ 'wwHackathonTeam2App.FloorIdentifier.OG_1' | translate }}</option>
                        <option value="OG_2">{{ 'wwHackathonTeam2App.FloorIdentifier.OG_2' | translate }}</option>
                        <option value="OG_3">{{ 'wwHackathonTeam2App.FloorIdentifier.OG_3' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('identifier')!.invalid && (editForm.get('identifier')!.dirty || editForm.get('identifier')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('identifier')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wwHackathonTeam2App.floor.building" for="field_building">Building</label>
                    <select class="form-control" id="field_building" name="building" formControlName="buildingId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="buildingOption.id" *ngFor="let buildingOption of buildings; trackBy: trackById">{{ buildingOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
