<div>
    <h2 id="page-heading">
        <span jhiTranslate="wwHackathonTeam2App.floor.home.title">Floors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-floor" [routerLink]="['/floor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wwHackathonTeam2App.floor.home.createLabel">
            Create a new Floor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="floors?.length === 0">
        <span jhiTranslate="wwHackathonTeam2App.floor.home.notFound">No floors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="floors && floors.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="wwHackathonTeam2App.floor.identifier">Identifier</span></th>
                    <th scope="col" ><span jhiTranslate="wwHackathonTeam2App.floor.building">Building</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let floor of floors ;trackBy: trackId">
                    <td><a [routerLink]="['/floor', floor.id, 'view']">{{ floor.id }}</a></td>
                    <td jhiTranslate="{{ 'wwHackathonTeam2App.FloorIdentifier.' + floor.identifier }}">{{ floor.identifier }}</td>
                    <td>
                        <div *ngIf="floor.buildingId">
                            <a [routerLink]="['/building', floor.buildingId , 'view']" >{{ floor.buildingId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/floor', floor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/floor', floor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(floor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
